
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:c="">

<head>
	<title>Welcome to Sportivity | sportivity.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/images/favicon.ico">

	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" th:href="@{/css/fwslider.css}" media="all">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


</head>

<body>
<div class="header" th:replace="fragments/header :: header"></div>
<div style="padding: 0 0 100px">
	<div class="container">

		<div class="page-header">
			<h1>Search for available Sports Centers</h1>
		</div>
		<br>

		<blockquote>
			<p>Type the sport activity you are interested in and you will get information about it and the sport centers you can contact</p>
		</blockquote>


		<div class="container">
			<form action="#" th:action="@{/admin/search}" method="post" enctype="multipart/form-data" >

				<div class="form-group">
					<label for="location">Select location</label>
					<select id="location" name="location" class="form-control" >
						<option value="Xalandri">Xalandri</option>
						<option value="Kallithea">Kallithea</option>
						<option value="Glyfada">Glyfada</option>
						<option value="Athens">Athens</option>
					</select>
				</div>

				<div class="form-group">
					<label for="location">Search by Sport</label>

					<div class="input-group">
						<input type="text" name="title" class="form-control" id="keyword" placeholder="Type here the sport, for example Tennis">
						<div class="input-group-addon">
							<button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span> Search
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>


		<div class="container">
			<table class="table table-hover table-striped">
				<thead>
				<tr>
					<th>Sport Center</th>
					<th>Location</th>
					<th>Capacity</th>
					<th>Information</th>
				</tr>
				</thead>
				<tbody>

					<tr th:each="sport:${results}">
						<td><img alt="" src=""></td>
						<td><span th:text="${sport.title}"></span></td>
						<td><span th:text="${sportCenter.title}"></span></td>
						<td><span th:text="${sportCenter.location}"></span></td>
						<td><span th:text="${sportCenter.capacity}"></span></td>
						<td><span th:text="${sportCenter.info}"></span></td>
					</tr>
				</th:each>
				</tbody>
			</table>
		</div>

	</div>

</div>

<div class="footer" th:replace="fragments/footer :: footer"></div>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>