<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Welcome to Sportivity | sportivity.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/images/favicon.ico">

	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link th:href="@{/css/style.css}" rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" th:href="@{/css/fwslider.css}" media="all">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
<div class="header" th:replace="fragments/header :: header"></div>
<div style="margin: 30px 0;">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/registration}"
					  th:object="${user}" method="post" class="form-horizontal"
					  role="form">
					<h2>Registration Form</h2>

					<div class="alert alert-success" th:if="${successMessage}">
						<p th:utext="${successMessage}" ></p>
						<p class="text-center">
							<button class="btn btn-success" data-toggle="modal" data-target="#login">Login now</button>
						</p>
					</div>

					<div class="form-group" th:unless="${successMessage}">

							<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
								   class="validation-message"></label>
							<input type="text" th:field="*{name}" placeholder="Name"
								   class="form-control" />
					</div>

					<div class="form-group">
							<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
									  class="validation-message"></label>
							<input type="text" th:field="*{lastName}"
								   placeholder="Last Name" class="form-control" />

					</div>
					<div class="form-group">

							<input type="text" th:field="*{email}" placeholder="Email"
								   class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>

					</div>
					<div class="form-group">

							<input type="password" th:field="*{password}"
								   placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>

					</div>

					<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block">Register User</button>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>
<div class="footer" th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/login :: login"></div>
<div th:replace="fragments/registration :: registration"></div>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>